<div class="container mt-5">

	<div>
		<div class="container">
		<h2>Listing <span><%= @dojos.length %></span> Dojos</h2>
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>Coding Dojo Branch</th>
						<th>Street</th>
						<th>City</th>
						<th>State</th>
					</tr>
				</thead>

				<tbody>
					<% @dojos.each do |dojo| %>
					<tr>
						<td><%= dojo.branch%></td>
						<td><%= dojo.street%></td>
						<td><%= dojo.city%></td>
						<td><%= dojo.state%></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
